{% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/index.css' %}> 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">FDK-Cart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'Category' %}">Store</a>
              </li> {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'cart' %}">My Cart</a>
              </li>{% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{%url 'About' %}">About us</a></li>
                  <li><a class="dropdown-item" href="{%url 'Contactus' %}">Contact us</a></li>
                </ul>
              </li>
              
            </ul>
            <form method='POST' action="{%url 'Search' %}" class="d-flex"> {% csrf_token %}
              <input style='width: 235%;margin-left: -175%;' class="form-control me-2" type="search" name='query' placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a style='width:auto;color:white;margin-top:-15%;margin-left:6%;border:solid;border-radius:25px;background:#198754;border-width:0px' class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Welcome {{request.user}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="signout">Logout</a></li>
                </ul>
              </li>
            {% else %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                Login
            </button>
            <button type="button" class="btn btn-success mr-2" data-bs-toggle="modal" data-bs-target="#SignupModal">
                SignUp
            </button>{% endif %}
          </div>
        </div>
    </nav>
{% block body %}{% endblock body %}