{% load static %}
    {% comment %} css links {% endcomment %}
    <link rel="stylesheet" href={% static 'css/contact.css' %}>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}"style='color:white;border:solid;border-color:black;background:black;border-radius:25px;' role="alert">
  {{message}}
</div>
{% endfor %}
{% endif %}
 <div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO : +91 8928725750</div>
        </div><form method='POST' action='/shop/contactUs/'>{% csrf_token %}
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="NAME" name="name">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="EMAIL" name='email'>
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="CONTACT NO"name='phone'>
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="MESSAGE"name='msg'>
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button">CANCEL</button>
              <button type='submit' class="app-form-button">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>