<!doctype html>
<html lang="en">
  <head>

  {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/index.css' %}> 

  </head>

<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabell">Login Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action='signin/' method='post'>
      {% csrf_token %}
      <div class="mb-3">
  <label for="loginUsername" class="form-label">Username</label>
  <input type="Username" class="form-control" id="loginUsername" name='loginUsername' placeholder="Username">
</div>
<div class="mb-3">
  <label for="Pass" class="form-label">Password</label>
  <input type="Password" class="form-control" id="Pass" name='LoginPassword' placeholder="Password">
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
  </form>
</div>
<!-- Modal SignUp -->
<div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SignUp Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action='signup/' method='post'>
      <div class="mb-3">
  <label for="FName">Full Name</label>
  <input type="text" class="form-control" id="FName" name='FName' placeholder="Name">
</div>
  <label for="Email">Email</label>
  <input type="Email" class="form-control" id="Email" name='Email' placeholder="Email@.com">
  <label for="Username">Username</label>
  <input type="Username" class="form-control" id="Username" name='Username' placeholder="Username">
<div class="mb-3">
  <label for="Password">Password</label>
  <input type="Password" id="Password" name='Password'>
</div>
      </div>
      <div class="modal-footer">
      {% csrf_token %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>
</form>
  <body style="background-color:black">
  {% load static %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">FDK-Cart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop/categ">Store</a>
              </li> {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="shop/cart">My Cart</a>
              </li>{% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="shop/about/">About us</a></li>
                  <li><a class="dropdown-item" href="shop/contactUs/">Contact us</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a style='color:white;margin-top:-10%;margin-left:6%;border:solid;border-radius:25px;' class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Welcome {{request.user}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="signout">Logout</a></li>
                </ul>
              </li>
            {% else %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                Login
            </button>
            <button type="button" class="btn btn-success mr-2" data-bs-toggle="modal" data-bs-target="#SignupModal">
                SignUp
            </button>{% endif %}
          </div>
        </div>
    </nav>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
  <h4 class="alert-heading">{{ message}}</h4>
</div>
{% endfor %}
{% endif %}
    <br>
    <center><h1 id='h1' style='color:white'>Welcome to FDK-Cart</h1></center></br>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/shop/image/cr2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Best Product</h5>
        <p>You can have the best products in less and affortable price</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/shop/image/cr1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Explore us</h5>
        <p>Explore us for the best and latest products for you</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/shop/image/cr3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Don't like the product</h5>
        <p>Easy refund, full customer satisfaction</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br>
<center><h2 style='color:white;'>Books From Here </h2></center>
<div class='row'>
<div class="card" id='card2' style="width: 18rem;height:37rem;margin-left:2%;"mx-2>
  <img src="/media/shop/image/hp (4).jpg"style='height:380px;' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">The Vampire Dairies</h5>
    <p class="card-text">The Book is based on the life of Stefen Salvatore from the begging to the end (Best Book)</p>
    <a href="#" class="btn btn-primary">Comming Soon</a>
  </div>
</div>
<div class ='col'>
<div class="card"id='card2' style="width: 18rem;height:37rem;margin-left:4%;">
  <img src="/media/shop/image/hp (1).jpg" style='height:380px;' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Harry Potter</h5>
    <p class="card-text">Harry Potter is the world most famous franchise of all time, have a look now</p>
    <a href="#" class="btn btn-primary">Comming Soon</a>
  </div>
</div>
</div>
<div class ='col'>
<div class="card"id='card2' style="width: 18rem;height:37rem;">
  <img src="/media/shop/image/hp (2).jpg"style='height:380px;' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Oz</h5>
    <p class="card-text">Join us with world of fantasy and adventure</p>
    <a href="#" class="btn btn-primary">Comming Soon</a>
  </div>
</div>
</div>
<div class ='col'>
<div class="card"id='card2' style="width: 18rem;height:37rem;">
  <img src="/media/shop/image/hp (3).jpg"style='height:380px;' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">50 Shades of Gray</h5>
    <p class="card-text">Most R-Rated Book, You should not read in front of family</p>
    <a href="#" class="btn btn-primary">Commin gSoon</a>
  </div>
</div>
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>