{% extends 'base.html' %}
{% load static %}
{% block profile %}
<link rel="stylesheet" href={% static 'css/profile.css' %}> 
	{% block title %}<center><b>Your Profile</b></center>{% endblock title %} 
<body id="prof_body">
<div class="wrapper">
    <div class="left">
        <img src="/static/images/user1.png" 
        alt="user" width="100">
        <h4>{{request.user.first_name}}</h4>
         <p>FDK-CART</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Profile</h3>
            <div class="info_data">
                 <div class="data">
                    <p>Email :-</p>
                    <h4>{{request.user.email}}</h4>
                 </div>
              <br>   
                 <div class="data">
                   <p>Username :-</p>
                   <h4>{{request.user}}</h4>
              </div>
            </div>
        </div>
      <div class="projects">
            <h3>Projects</h3>
            <div class="projects_data">
                 <div class="data">
                    <p>Role </p>
                    <h4>User</h4>
                 </div>
                 
            </div>
        </div>
      
    </div>
</div>
<section class="yprop">
<h1 style="margin-left: 40%;margin-top: 50%;">Order History </h1>
<div class="home_partner_card">
<div class='row' style="width:96%; margin-left: 9%;margin-top: 10%;">
    {% for product in product %}
<div class="card my-2 mx-4" style="width: 18rem;background-color:black;">
  <img class="card-img-top"style='width:270px;height:300px;' src="/media/{{product.img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.Productdet}}</h5>
    <p class="card-text">Color : {{product.color}}</p>
    <p class="card-text">Size : {{product.size}}</p>
    <p class="card-text">Model : {{product.model}}</p>
    <button style='border-radius: 8%;
    border-color: blue;
    background: #0D6EFD;' data-Category='{{product.id}}'>
    <a href="{%url 'cartview' product.id %}" class="btn btn-primary">View Product</a></button>
  <button style='border-radius: 8%;
    border-color: blue;
    background: #0D6EFD;' data-Category='{{product.id}}'>
    <a href="{%url 'buydelete' product.id %}" class="btn btn-primary">Remove</a></button>
  </div> 
</div>
  {% endfor %}
</div>

</div>
</section>
</body>

{% endblock profile %}

