{% extends 'base.html' %}
{% load static %}
{% block profile %}
	{% block title %}Profile Card{% endblock title %} 
<body id="prof_body">
<div class="wrapper">
    <div class="left">
        <img src="/static/images/user1.png" 
        alt="user" width="100">
        <h4>{{request.user.first_name}}</h4>
         <p>FDK-CART</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Profile</h3>
            <div class="info_data">
                 <div class="data">
                    <p>Email :-</p>
                    <h4>{{request.user.email}}</h4>
                 </div>
              <br>   
                 <div class="data">
                   <p>Username :-</p>
                   <h4>{{request.user}}</h4>
              </div>
            </div>
        </div>
      <div class="projects">
            <h3>Projects</h3>
            <div class="projects_data">
                 <div class="data">
                    <p>Role </p>
                    <h4>User</h4>
                 </div>
                 
            </div>
        </div>
      
    </div>
</div>
<section class="yprop">
<h1 style="margin-left: 40%;margin-top: 50%;">Your Orders </h1>
<div class="home_partner_card">
<div class='row' style="width:96%; margin-left: 9%;margin-top: 10%;">
    {% for product in product %}
<div class="card my-2 mx-4" style="width: 18rem;background-color:black;">
  <img class="card-img-top"style='width:270px;height:300px;' src="/media/{{product.pr_img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.pr_name}}</h5>
    <p class="card-text">{{product.pr_desc}}</p>
    <p class="card-text">{{product.pr_price}}</p>
    <p class="card-text">{{product.pr_date}}</p>
    <button style='border-radius: 8%;
    border-color: blue;
    background: #0D6EFD;' data-Category='{{product.id}}'>
    <a href="{%url 'cartview' product.id %}" class="btn btn-primary">View Product</a></button>
  </div>
    <button style='border-radius: 8%;
    border-color: blue;
    margin-top: 164%;
    margin-left: 159px;
    position: absolute;
    background: #0D6EFD;' data-Category='{{product.id}}'>
    <a href="{%url 'delete' product.id %}" class="btn btn-primary">Remove</a></button>
</div>
  {% endfor %}
</div>

</div>
</section>
</body>

{% endblock profile %}




<div id="plant" class="section  product">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2><strong class="black"> Our</strong>  Products</h2>
                     <span>There are many variations of passages of products available, but the majority have suffered alteration in some form, by injected randomised words which don't look even slightly believable</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>
         <div class="clothes_main section ">
          <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="sport_product">
                     <figure><img src={% static "images/basketball.png" %} alt="img"/></figure>
                    <h3> $<strong class="price_text">50</strong></h3>
                     <h4>basket ball</h4>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                  <div class="sport_product">
                     <figure><img src={% static "images/t-shirt.png" %} alt="img"/ ></figure>
                    <h3> $<strong class="price_text">50</strong></h3>
                     <h4> T-Shirt</h4>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                  <div class="sport_product">
                     <figure><img src={% static "images/game.png" %} alt="img"/></figure>
                     <h3> $<strong class="price_text">50</strong></h3>
                     <h4>Game</h4>
                  </div>
               </div>
    
        
       
         
               
           </div>
      </div>
      <div id="footer" class="Address layout_padding">
       <div class="container">
          <div class="row">
             <div class="col-sm-12">
               <div class="titlepage">
                  <div class="main">
                     <h1 class="address_text">Address</h1>
                  </div>
               </div>
             </div>
          </div>
               <div class="address_2">
                  <div class="row">
                     <div class="col-sm-12 col-md-12 col-lg-4">
                       <div class="site_info">
                          <span class="info_icon"><img src={% static "images/map-icon.png" %} /></span>
                          <span style="margin-top: 10px;">No.123 Fdk-cart, Bholenath Nagar New Mumbai</span></div>
                     </div>
                     <div class="col-sm-12 col-md-12 col-lg-4">
                       <div class="site_info">
                          <span class="info_icon"><img src={% static "images/phone-icon.png" %} /></span>
                          <span style="margin-top: 21px;">( +91 8928725750 )</span></div>
                     </div>
                     <div class="col-sm-12 col-md-12 col-lg-4">
                       <div class="site_info">
                          <span class="info_icon"><img src={% static "images/email-icon.png" %}/></span>
                          <span style="margin-top: 21px;">khanfardeen688@gmail.com</span></div>
                     </div>
                     </div> 
                  </div>
               </div>
                  <div class="menu_main">
                     <div class="menu_text">
                        <ul>
                           <li class="active"><a href="#">Home</a></li>                         
                           <li><a href="{% url 'About' %}">About</a></li>
                           <li><a href="{% url 'Category' %}">Shop</a></li>
                           <li><a href="{% url 'Contactus' %}">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
      